@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE4C4;
}

header {
    background-color: #d6a2e8;
    padding: 30px;
}

main {
    margin: 30px;
}