@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE4C4;
}

header {
    background-color: #d6a2e8;
    padding: 30px;
}

main {
    margin: 30px;
}

section {
    padding: 10px 0;
}

input {
    border-radius: 2px;
    border: 0px;
    padding: 3px;
}

button {
    border: 1px solid #d6a2e8;
    border-radius: 5px;
    padding: 5px;
    background-color: pink;
}


